/* import major sass files */
/* idenity color */
/** experimental grid mixins **/
/** experimental grid mixins **/
/** experimenta responsive breakpoints **/
/* Start Global rules */
/* reusable components */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #19c8fa;
  --main-background: #fff;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.margin-50 {
  margin-top: 50px;
}

.margin-100 {
  margin-top: 100px;
}

.img-fluid {
  max-width: 100%;
}

button {
  border: 1px solid #19c8fa;
  background-color: #fff;
  padding: 7px 20px;
  margin-top: 25px;
  cursor: pointer;
}

/* end global rules */
/* ===== Manual Responsive layout ===== */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* small */
  /* medium */
  /* large */
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* ===== Manual Responsive layout ===== */
.special-heading:before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  bottom: -30px;
  width: 120px;
}

.special-heading:after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -38px;
  background-color: white;
}

.main-heading h3 {
  position: relative;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.main-heading p {
  line-height: 1.6;
  width: 50%;
  margin: 5px auto;
  font-size: 14px;
  color: #777;
  line-height: 2;
  text-align: center;
  padding-bottom: 60px;
}

@media (max-width: 991px) {
  .main-heading p {
    width: 75%;
  }
}

/* reusable components */
body {
  font-family: "Open Sans", sans-serif;
}

/* start header */
header {
  width: 100%;
  position: absolute;
  z-index: 2;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  min-height: 97px;
}

header .container:after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #a2a2a2;
  bottom: 0;
  width: calc(100% - 30px);
  left: 15px;
  z-index: 2;
}

header .container .logo {
  padding: 30px 0;
  height: 40px;
}

header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  header .container nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header .container nav ul li a {
  display: block;
  padding: 40px 10px;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  color: #fff;
  position: relative;
  z-index: 3;
}

header .container nav ul li a:hover, header .container nav ul li a.active {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

@media (max-width: 767px) {
  header .container nav ul li a {
    padding: 20px 10px;
  }
}

header .container nav.active {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  z-index: 9;
}

@media (max-width: 767px) {
  header .container nav {
    display: none;
  }
}

header .container .menu-toggle {
  color: #fff;
  position: absolute;
  right: 25px;
  top: 40px;
  font-size: 25px;
  cursor: pointer;
  display: none;
  z-index: 9;
}

@media (max-width: 767px) {
  header .container .menu-toggle {
    display: block;
  }
}

header .container .menu-toggle i:nth-child(1) {
  display: block;
}

header .container .menu-toggle i:nth-child(2) {
  display: none;
}

header .container .menu-toggle.active i:nth-child(1) {
  display: none;
}

header .container .menu-toggle.active i:nth-child(2) {
  display: block;
}

/* end header */
/* start hero area */
.hero-area {
  min-height: 100vh;
  background-image: url("../images/landing03.jpg");
  background-size: cover;
  position: relative;
  color: #fff;
}

.hero-area .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.hero-area .hero-text {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 50px;
  background-color: rgba(15, 116, 143, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 767px) {
  .hero-area .hero-text {
    width: 100%;
  }
}

.hero-area .hero-text .content {
  max-width: 500px;
}

.hero-area .hero-text .content p {
  font-size: 18px;
  margin-top: 27px;
  line-height: 1.6;
}

/* end hero area */
/* start services section */
.services {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

.services .service-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 50px;
}

@media (max-width: 767px) {
  .services .service-container {
    display: block;
  }
}

.services .service-container .service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  /* width: 80%;*/
}

@media (max-width: 767px) {
  .services .service-container .service-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.services .service-container .service-item i {
  font-size: 48px;
  margin-right: 40px;
}

@media (max-width: 767px) {
  .services .service-container .service-item i {
    margin-bottom: 30px;
    margin-right: 0;
  }
}

.services .service-container .service-item .text h3 {
  color: var(--main-color);
  text-transform: capitalize;
}

.services .service-container .service-item .text p {
  padding-right: 25px;
  line-height: 35px;
  margin-top: 10px;
  color: #777;
}

@media (max-width: 767px) {
  .services .service-container .service-item .text p {
    padding-right: 5px;
  }
}

/* end services section */
/* start product-feat section */
.product-feat {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  background: url("../images/design-features.jpg");
  background-size: cover;
  height: 500px;
}

.product-feat .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.product-feat .avatar-box {
  z-index: 1;
  margin-left: 150px;
}

@media (max-width: 767px) {
  .product-feat .avatar-box {
    margin-left: 0;
  }
}

.product-feat .avatar-box img {
  position: absolute;
  bottom: -100px;
}

.product-feat .details-box {
  background-color: rgba(15, 116, 143, 0.7);
  position: absolute;
  width: 55%;
  height: 340px;
  right: 0;
  color: #fff;
  padding: 70px;
  top: 15%;
}

.product-feat .details-box h3 {
  text-transform: uppercase;
  padding-bottom: 25px;
}

.product-feat .details-box ul li {
  padding: 7px 2px;
}

/* end product-feat section */
/* start portfolio */
.port {
  padding-top: 100px;
  padding-bottom: 100px;
}

.port .switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.port .switch li {
  padding: 10px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.port .switch li.active {
  background-color: var(--main-color);
  color: #fff;
}

.port .photo-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.port .photo-grid .img-box {
  position: relative;
  width: 25%;
  overflow: hidden;
  cursor: pointer;
}

@media (max-width: 767px) {
  .port .photo-grid .img-box {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .port .photo-grid .img-box {
    width: 50%;
  }
}

.port .photo-grid .img-box:hover .img-caption {
  bottom: 0;
}

.port .photo-grid .img-box:hover img {
  -webkit-transform: rotate(3deg) scale(1.1);
          transform: rotate(3deg) scale(1.1);
}

.port .photo-grid .img-box img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.port .photo-grid .img-box .img-caption {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 75px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #fff;
  text-transform: capitalize;
  font-size: 14px;
  padding: 5px 15px;
}

.port .photo-grid .img-box .img-caption h4 {
  margin-top: 5px;
  margin-bottom: 7px;
  font-weight: 400;
}

.port .photo-grid .img-box .img-caption span {
  color: var(--main-color);
  font-weight: 600;
}

/* End portfolio */
/* start super section */
.super {
  position: relative;
}

.super .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.super video {
  width: 100%;
}

.super .details-box {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(15, 116, 143, 0.7);
  color: #fff;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  width: 100%;
  padding: 75px;
}

.super .details-box h3 {
  margin: 5px 0 30px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.super .details-box h4 {
  margin-bottom: 20px;
}

.super .details-box a {
  color: #fff;
  background-color: #000;
  margin: 10px 0;
  padding: 10px 15px;
  text-transform: capitalize;
}

/* end super section */
/* start about section */
.about {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* end about section */
/* start quote */
.quote {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background: url("../images/quote.jpg");
  background-size: cover;
}

.quote .overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.quote .text-box {
  position: relative;
  color: #fff;
  text-align: center;
}

.quote .text-box p {
  font-size: 28px;
  padding-bottom: 20px;
}

@media (max-width: 767px) {
  .quote .text-box p {
    font-size: 18px;
  }
}

.quote .text-box h4 {
  font-size: 18px;
}

@media (max-width: 767px) {
  .quote .text-box h4 {
    font-size: 14px;
  }
}

/* end quote */
/* start Pricing section */
.pricing {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pricing .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(225px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 35px;
}

.pricing .cards .card {
  border-top: 1px solid var(--main-color);
  background-color: #fcfcfc;
  text-align: center;
}

.pricing .cards .card .card-title {
  margin: 25px;
  text-transform: uppercase;
}

.pricing .cards .card .card-title span {
  font-size: 48px;
  font-weight: 700;
}

.pricing .cards .card .card-title span:before {
  content: "$";
  font-size: 18px;
  position: relative;
  top: -35px;
  margin-right: 5px;
}

.pricing .cards .card .card-title span:after {
  content: "/Mo";
  font-size: 18px;
  position: relative;
  margin-left: 5px;
}

.pricing .cards .card .plan-feat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  padding: 15px 0;
}

.pricing .cards .card .plan-feat li {
  padding: 15px 10px;
  width: 50%;
}

.pricing .cards .card .plan-feat li:not(:last-of-type) {
  border-bottom: 1px solid var(--main-color);
}

.pricing .cards .card button {
  display: block;
  margin: 30px auto;
}

.pricing .card-footer {
  margin-top: 50px;
}

.pricing .card-footer p {
  text-align: center;
  font-size: 20px;
  margin: auto;
}

.pricing .contact-btn {
  font-size: 18px;
  padding: 10px 20px;
  background-color: var(--main-color);
  color: #fff;
  margin: 30px auto;
  text-align: center;
  display: block;
  width: 140px;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pricing .contact-btn:hover {
  background-color: #17aeda;
}

/* End Pricing section */
/* start subscribe section */
.subscribe {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url("../images/subscribe.jpg");
  background-size: cover;
  position: relative;
}

.subscribe .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.subscribe .content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991px) {
  .subscribe .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.subscribe .content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  max-width: 100%;
  position: relative;
  margin: auto;
  border: 1px solid var(--main-background);
}

.subscribe .content form i {
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 24px;
  color: var(--main-background);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.subscribe .content form .main-input {
  width: calc(100% - 130px);
  padding: 12px;
  background-color: transparent;
  border: 1px solid var(--main-background);
  border-right: none;
}

.subscribe .content form .main-input:focus {
  outline: none;
}

.subscribe .content form .main-input::-webkit-input-placeholder {
  padding-left: 50px;
  color: var(--main-background);
  text-transform: capitalize;
}

.subscribe .content form .main-input:-ms-input-placeholder {
  padding-left: 50px;
  color: var(--main-background);
  text-transform: capitalize;
}

.subscribe .content form .main-input::-ms-input-placeholder {
  padding-left: 50px;
  color: var(--main-background);
  text-transform: capitalize;
}

.subscribe .content form .main-input::placeholder {
  padding-left: 50px;
  color: var(--main-background);
  text-transform: capitalize;
}

.subscribe .content form input[type="submit"] {
  width: 130px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid var(--main-background);
  border-left: none;
  padding: 12px;
  background-color: var(--main-color);
  color: var(--main-background);
}

.subscribe .content form input[type="submit"]:focus {
  outline: none;
}

.subscribe .content .text-box {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .subscribe .content .text-box {
    margin-top: 30px;
  }
}

@media (min-width: 992px) {
  .subscribe .content .text-box {
    margin-left: 50px;
  }
}

/* end subscribe section */
/* start contact section */
.contact {
  padding-top: 100px;
  padding-bottom: 100px;
}

.contact .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 767px) {
  .contact .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact .content form {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.contact .content form .main-input {
  display: block;
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.contact .content form .main-input:focus {
  outline: none;
}

.contact .content form .main-input::-webkit-input-placeholder {
  text-transform: capitalize;
}

.contact .content form .main-input:-ms-input-placeholder {
  text-transform: capitalize;
}

.contact .content form .main-input::-ms-input-placeholder {
  text-transform: capitalize;
}

.contact .content form .main-input::placeholder {
  text-transform: capitalize;
}

.contact .content form textarea.main-input {
  height: 200px;
}

.contact .content form input[type="submit"] {
  background-color: var(--main-color);
  padding: 18px;
  color: var(--main-background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  border: transparent;
  cursor: pointer;
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .contact .content form {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.contact .info {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.contact .info h4 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

.contact .info .phone {
  display: block;
}

.contact .info h4:nth-of-type(2) {
  margin-top: 35px;
}

.contact .info span {
  color: #777;
}

.contact .info address {
  margin-top: 15px;
  color: #777;
}

@media (max-width: 767px) {
  .contact .info {
    text-align: center;
    margin-bottom: 0px;
  }
}

/* end contact section */
/* start footer */
footer {
  position: relative;
  background: url("../images/subscribe.jpg");
  background-size: cover;
  min-height: 300px;
  color: #fff;
}

footer .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

footer .container {
  text-align: center;
}

footer .container .logo {
  position: relative;
}

footer .container img {
  margin-top: 50px;
}

footer .container > p {
  font-size: 28px;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 15px;
  position: relative;
}

@media (max-width: 767px) {
  footer .container > p {
    font-size: 24px;
  }
}

footer .container > p:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 18%;
  top: 58px;
  background-color: #fff;
}

@media (max-width: 991px) {
  footer .container > p:before {
    width: 65%;
  }
}

footer .copyright {
  position: relative;
  margin: 20px auto;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  footer .copyright {
    font-size: 12px;
  }
}

footer .copyright span {
  color: var(--main-color);
}

footer .social-icons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 25px auto;
}

footer .social-icons i {
  color: #fff;
  font-size: 18px;
  margin-left: 15px;
}

/* end footer */
/* scroll to top styling */
.scroll-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 20px;
  height: 20px;
  background-color: var(--main-color);
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.scroll-to-top:hover {
  background-color: #086782;
}

.scroll-to-top.show {
  opacity: 1;
}

/* scroll to top styling */
/*# sourceMappingURL=main.css.map */