/* import major sass files */

@import "sass/variables";
@import "sass/mixins";
@import "sass/breakpoints";
@import "sass/buttons";

/* Start Global rules */

/* reusable components */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #19c8fa;
  --main-background: #fff;
}
html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.margin-50 {
  margin-top: 50px;
}

.margin-100 {
  margin-top: 100px;
}

.img-fluid {
  max-width: 100%;
}

button {
  border: 1px solid $mainColor;
  background-color: #fff;
  padding: 7px 20px;
  margin-top: 25px;
  cursor: pointer;
}
/* end global rules */

/* ===== Manual Responsive layout ===== */

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* small */
  @media (min-width: 768px) {
    width: 750px;
  }
  /* medium */
  @media (min-width: 992px) {
    width: 970px;
  }
  /* large */
  @media (min-width: 1200px) {
    width: 1170px;
  }
}
/* ===== Manual Responsive layout ===== */

.special-heading {
  &:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
  }
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -38px;
    background-color: white;
  }
}

.main-heading {
  h3 {
    position: relative;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  p {
    line-height: 1.6;
    width: 50%;
    margin: 5px auto;
    font-size: 14px;
    color: #777;
    line-height: 2;
    text-align: center;
    padding-bottom: 60px;
    @media (max-width: 991px) {
      width: 75%;
    }
  }
}

/* reusable components */

body {
  font-family: "Open Sans", sans-serif;
}

/* start header */
header {
  width: 100%;
  position: absolute;
  z-index: 2;
  .container {
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 97px;
    &:after {
      content: "";
      position: absolute;
      height: 1px;
      background-color: #a2a2a2;
      bottom: 0;
      width: calc(100% - 30px);
      left: 15px;
      z-index: 2;
    }
    .logo {
      padding: 30px 0;
      height: 40px;
    }
    nav {
      ul {
        display: flex;
        @include mobile {
          flex-direction: column;
        }
        li {
          a {
            display: block;
            padding: 40px 10px;
            font-weight: 400;
            font-size: 14px;
            text-transform: capitalize;
            transition: $mainTransition;
            cursor: pointer;
            color: #fff;
            position: relative;
            z-index: 3;
            &:hover,
            &.active {
              color: var(--main-color);
              border-bottom: 1px solid var(--main-color);
            }
            @include mobile {
              padding: 20px 10px;
            }
          }
        }
      }
      &.active {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.9);
        text-align: center;
        z-index: 9;
      }
      @include mobile {
        display: none;
      }
    }
    .menu-toggle {
      color: #fff;
      position: absolute;
      right: 25px;
      top: 40px;
      font-size: 25px;
      cursor: pointer;
      display: none;
      z-index: 9;
      @include mobile {
        display: block;
      }

      i:nth-child(1) {
        display: block;
      }
      i:nth-child(2) {
        display: none;
      }
      &.active i:nth-child(1) {
        display: none;
      }
      &.active i:nth-child(2) {
        display: block;
      }
    }
  }
}

/* end header */

/* start hero area */
.hero-area {
  min-height: 100vh;
  background-image: url("../images/landing.jpg");
  background-size: cover;
  position: relative;
  color: #fff;
  .overlay {
    @include overlay;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .hero-text {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: rgba(15, 116, 143, 0.7);
    display: flex;
    justify-content: flex-end;
    @include mobile {
      width: 100%;
    }
    .content {
      max-width: 500px;
      p {
        font-size: 18px;
        margin-top: 27px;
        line-height: 1.6;
      }
    }
  }
}
/* end hero area */

/* start services section */
.services {
  padding-top: $sectionPadding;
  padding-bottom: $sectionPadding;
  margin-bottom: 100px;
  .service-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 50px;
    @include mobile {
      display: block;
    }
    .service-item {
      display: flex;
      justify-content: space-between;
      padding-top: 50px;
      @include mobile {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      /* width: 80%;*/
      i {
        font-size: 48px;
        margin-right: 40px;
        @include mobile {
          margin-bottom: 30px;
          margin-right: 0;
        }
      }
      .text {
        h3 {
          color: var(--main-color);
          text-transform: capitalize;
        }
        p {
          padding-right: 25px;
          line-height: 35px;
          margin-top: 10px;
          color: #777;
          @include mobile {
            padding-right: 5px;
          }
        }
      }
    }
  }
}

/* end services section */

/* start product-feat section */

.product-feat {
  padding-top: $sectionPadding;
  padding-bottom: $sectionPadding;
  position: relative;
  background: url("../images/design-features.jpg");
  background-size: cover;
  height: 500px;
  .overlay {
    @include overlay;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .avatar-box {
    z-index: 1;
    margin-left: 150px;
    @include mobile {
      margin-left: 0;
    }
    img {
      position: absolute;
      bottom: -100px;
    }
  }
  .details-box {
    background-color: rgba(15, 116, 143, 0.7);
    position: absolute;
    width: 55%;
    height: 340px;
    right: 0;
    color: #fff;
    padding: 70px;
    top: 15%;
    h3 {
      text-transform: uppercase;
      padding-bottom: 25px;
    }
    ul li {
      padding: 7px 2px;
    }
  }
}

/* end product-feat section */

/* start portfolio */
.port {
  padding-top: $sectionPadding;
  padding-bottom: $sectionPadding;
  .switch {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    li {
      padding: 10px;
      cursor: pointer;
      transition: $mainTransition;
      &.active {
        background-color: var(--main-color);
        color: #fff;
      }
    }
  }
  .photo-grid {
    display: flex;
    flex-wrap: wrap;
    .img-box {
      position: relative;
      width: 25%;
      overflow: hidden;
      cursor: pointer;
      @include mobile {
        width: 100%;
      }
      @include mediumScreens {
        width: 50%;
      }
      &:hover .img-caption {
        bottom: 0;
      }
      &:hover img {
        transform: rotate(3deg) scale(1.1);
      }
      img {
        transition: $mainTransition;
      }
      .img-caption {
        position: absolute;
        bottom: -100%;
        left: 0;
        width: 100%;
        height: 75px;
        transition: $mainTransition;
        background-color: #fff;
        text-transform: capitalize;
        font-size: 14px;
        padding: 5px 15px;
        h4 {
          margin-top: 5px;
          margin-bottom: 7px;
          font-weight: 400;
        }
        span {
          color: var(--main-color);
          font-weight: 600;
        }
      }
    }
  }
}
/* End portfolio */

/* start super section */
.super {
  position: relative;
  .overlay {
    @include overlay;
    background-color: rgba(0, 0, 0, 0.5);
  }
  video {
    width: 100%;
  }
  .details-box {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(15, 116, 143, 0.7);
    color: #fff;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
    padding: 75px;
    h3 {
      margin: 5px 0 30px;
      text-transform: uppercase;
      letter-spacing: 1.8px;
    }
    h4 {
      margin-bottom: 20px;
    }
    a {
      color: #fff;
      background-color: #000;
      margin: 10px 0;
      padding: 10px 15px;
      text-transform: capitalize;
    }
  }
}

/* end super section */

/* start about section */
.about {
  padding-top: $sectionPadding;
  padding-bottom: $sectionPadding;
}

/* end about section */

/* start quote */
.quote {
  position: relative;
  padding-top: $sectionPadding;
  padding-bottom: $sectionPadding;
  background: url("../images/quote.jpg");
  background-size: cover;
  .overlay {
    background-color: rgba(0, 0, 0, 0.8);
    @include overlay;
  }
  .text-box {
    position: relative;
    color: #fff;
    text-align: center;
    p {
      font-size: 28px;
      padding-bottom: 20px;
      @include mobile {
        font-size: 18px;
      }
    }
    h4 {
      font-size: 18px;
      @include mobile {
        font-size: 14px;
      }
    }
  }
}
/* end quote */

/* start Pricing section */
.pricing {
  padding-top: $sectionPadding;
  padding-bottom: $sectionPadding;
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 35px;
    .card {
      border-top: 1px solid var(--main-color);
      background-color: #fcfcfc;
      text-align: center;
      .card-title {
        margin: 25px;
        text-transform: uppercase;

        span {
          font-size: 48px;
          font-weight: 700;
          &:before {
            content: "$";
            font-size: 18px;
            position: relative;
            top: -35px;
            margin-right: 5px;
          }
          &:after {
            content: "/Mo";
            font-size: 18px;
            position: relative;
            margin-left: 5px;
          }
        }
      }
      .plan-feat {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid var(--main-color);
        border-bottom: 1px solid var(--main-color);
        padding: 15px 0;
        li {
          padding: 15px 10px;
          width: 50%;
          &:not(:last-of-type) {
            border-bottom: 1px solid var(--main-color);
          }
        }
      }
      button {
        display: block;
        margin: 30px auto;
      }
    }
  }
  .card-footer {
    margin-top: 50px;
    p {
      text-align: center;
      font-size: 20px;
      margin: auto;
    }
  }

  .contact-btn {
    font-size: 18px;
    padding: 10px 20px;
    background-color: var(--main-color);
    color: #fff;
    margin: 30px auto;
    text-align: center;
    display: block;
    width: 140px;
    text-transform: capitalize;
    transition: $mainTransition;
    &:hover {
      background-color: #17aeda;
    }
  }
}
/* End Pricing section */

/* start cont section */

.cont {
  padding-top: $sectionPadding;
  padding-bottom: $sectionPadding;
  background: url("../images/subscribe.jpg");
  background-size: cover;
  position: relative;
  .overlay {
    @include overlay;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .text-box {
    position: relative;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
/* end cont section */

/* start contact section */

.contact {
  padding-top: $sectionPadding;
  padding-bottom: $sectionPadding;
  .content {
    display: flex;
    justify-content: space-around;
    @include mobile {
      flex-direction: column;
    }
    form {
      flex-basis: 70%;
      .main-input {
        display: block;
        padding: 20px;
        width: 100%;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        &:focus {
          outline: none;
        }
        &::placeholder {
          text-transform: capitalize;
        }
      }
      textarea.main-input {
        height: 200px;
      }
      input[type="submit"] {
        background-color: var(--main-color);
        padding: 18px;
        color: var(--main-background);
        display: flex;
        margin-left: auto;
        border: transparent;
        cursor: pointer;
        text-transform: capitalize;
      }
      @include mobile {
        order: 1;
      }
    }
  }
  .info {
    flex-basis: 25%;

    h4 {
      margin-bottom: 15px;
      font-size: 18px;
      font-weight: 500;
      text-transform: capitalize;
    }
    .phone {
      display: block;
    }
    h4:nth-of-type(2) {
      margin-top: 35px;
    }
    span {
      color: #777;
    }
    address {
      margin-top: 15px;
      color: #777;
    }
    @include mobile {
      text-align: center;
      margin-bottom: 30px;
    }
  }
}
/* end contact section */

/* start footer */
footer {
  position: relative;
  background: url("../images/subscribe.jpg");
  background-size: cover;
  min-height: 300px;
  color: #fff;

  .overlay {
    @include overlay;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .container {
    text-align: center;
    .logo {
      position: relative;
    }
    img {
      margin-top: 50px;
    }
    > p {
      font-size: 28px;
      text-transform: capitalize;
      letter-spacing: 1px;
      padding: 15px;
      position: relative;
      @include mobile {
        font-size: 24px;
      }
      &:before {
        content: "";
        position: absolute;
        height: 1px;
        width: 18%;
        top: 58px;
        background-color: #fff;
        @include mobileToMedium {
          width: 65%;
        }
      }
    }
  }
  .copyright {
    position: relative;
    margin: 20px auto;
    text-align: center;
    text-transform: uppercase;
    @include mobileToMedium {
      font-size: 12px;
    }
    span {
      color: var(--main-color);
    }
  }
  .social-icons {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 25px auto;

    i {
      color: #fff;
      font-size: 18px;
      margin-left: 15px;
    }
  }
}
/* end footer */

/* scroll to top styling */
.scroll-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 20px;
  height: 20px;
  background-color: var(--main-color);
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  &:hover {
    background-color: #086782;
  }

  &.show {
    opacity: 1;
  }
}

/* scroll to top styling */
