/* import major sass files */
/* idenity color */
/** experimental grid mixins **/
/** experimental grid mixins **/
/* @mixin overlay{} */
/** experimenta responsive breakpoints **/
/* Start Global rules */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ===== Manual Responsive ===== */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* small */
  /* medium */
  /* large */
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* ===== Manual Responsive ===== */
.special-heading:before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  bottom: -30px;
  width: 120px;
}

.special-heading:after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -38px;
  background-color: white;
}

/* reusable components */
html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  border: 1px solid #19c8fa;
  background-color: #fff;
  padding: 7px 20px;
  margin-top: 25px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

.margin-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.margin-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.main-heading h3 {
  position: relative;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.main-heading p {
  line-height: 1.6;
  width: 50%;
  margin: 5px auto;
  font-size: 14px;
  color: #a8a8a8;
  text-align: center;
  padding-bottom: 60px;
}

@media (max-width: 991px) {
  .main-heading p {
    width: 75%;
  }
}

/* reusable components */
.img-fluid {
  max-width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* start portfolio */
.port .photo-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.port .photo-grid .img-box {
  width: 25%;
}

@media (max-width: 767px) {
  .port .photo-grid .img-box {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .port .photo-grid .img-box {
    width: 50%;
  }
}

/* End portfolio */
/* start Pricing section */
.pricing {
  padding: 50px 0;
}

.pricing .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(225px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 35px;
}

.pricing .cards .card {
  border-top: 1px solid #19c8fa;
  background-color: #fcfcfc;
  text-align: center;
  height: auto;
}

.pricing .cards .card .card-title {
  margin: 25px;
  text-transform: uppercase;
}

.pricing .cards .card .card-title span {
  font-size: 48px;
  font-weight: 700;
}

.pricing .cards .card .card-title span:before {
  content: "$";
  font-size: 18px;
  position: relative;
  top: -35px;
  margin-right: 5px;
}

.pricing .cards .card .card-title span:after {
  content: "/Mo";
  font-size: 18px;
  position: relative;
  margin-left: 5px;
}

.pricing .cards .card .plan-feat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #19c8fa;
  border-bottom: 1px solid #19c8fa;
  padding: 15px 0;
}

.pricing .cards .card .plan-feat li {
  padding: 15px 10px;
  width: 50%;
}

.pricing .cards .card .plan-feat li:not(:last-of-type) {
  border-bottom: 1px solid #19c8fa;
}

.pricing .cards .card button {
  display: block;
  margin: 30px auto;
}

.pricing .card-footer {
  margin-top: 50px;
}

.pricing .card-footer p {
  text-align: center;
  font-size: 20px;
  margin: auto;
}

.pricing .contact-btn {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #19c8fa;
  color: #fff;
  margin: 30px auto;
  text-align: center;
  display: block;
  width: 140px;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pricing .contact-btn:hover {
  background-color: #17aeda;
}

/* End Pricing section */
.scroll-to-top {
  width: 40px;
  height: 35px;
  background-color: White;
  position: fixed;
  bottom: 15px;
  right: -50px;
  color: #19c8fa;
  font-weight: bold;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  line-height: 1.4px;
  margin: 1px auto;
  cursor: pointer;
}

.scroll-to-top.show {
  right: 35px;
}
/*# sourceMappingURL=main.css.map */