/* import major sass files */
/* idenity color */
/** experimental grid mixins **/
/** experimental grid mixins **/
/** experimenta responsive breakpoints **/
/* Start Global rules */
/* reusable components */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  border: 1px solid #19c8fa;
  background-color: #fff;
  padding: 7px 20px;
  margin-top: 25px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

.margin-50 {
  margin-top: 50px;
}

.margin-100 {
  margin-top: 100px;
}

.img-fluid {
  max-width: 100%;
}

/* end global rules */
/* ===== Manual Responsive ===== */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* small */
  /* medium */
  /* large */
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* ===== Manual Responsive ===== */
.special-heading:before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  bottom: -30px;
  width: 120px;
}

.special-heading:after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -38px;
  background-color: white;
}

.main-heading h3 {
  position: relative;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.main-heading p {
  line-height: 1.6;
  width: 50%;
  margin: 5px auto;
  font-size: 14px;
  color: #777;
  line-height: 2;
  text-align: center;
  padding-bottom: 60px;
}

@media (max-width: 991px) {
  .main-heading p {
    width: 75%;
  }
}

/* reusable components */
body {
  font-family: "Open Sans", sans-serif;
}

/* start header */
header {
  width: 100%;
  position: absolute;
  z-index: 2;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

header .container .logo {
  padding: 30px 0;
  height: 40px;
}

header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container nav ul li a {
  display: block;
  padding: 40px 10px;
  margin-bottom: -1px;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  color: #fff;
}

header .container nav ul li a:hover, header .container nav ul li a.active {
  color: #19c8fa;
  border-bottom: 1px solid #19c8fa;
}

/* end header */
/* start hero area */
.hero-area {
  height: 100vh;
  background-image: url("../images/landing.jpg");
  background-size: cover;
  position: relative;
  color: #fff;
}

.hero-area .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-area .hero-text {
  position: absolute;
  top: 50%;
  left: 0;
  width: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 50px;
  background-color: rgba(15, 116, 143, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hero-area .hero-text .content {
  max-width: 500px;
}

.hero-area .hero-text .content p {
  font-size: 18px;
  margin-top: 27px;
  line-height: 1.6;
}

/* end hero area */
/* start services section */
.services {
  padding: 50px 0 0 0;
}

/* end services section */
/* start product-feat section */
.product-feat {
  padding: 50px 0 0 0;
  position: relative;
  background: url("../images/design-features.jpg");
  background-size: cover;
  height: 500px;
}

.product-feat .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.product-feat .avatar-box {
  z-index: 1;
  margin-left: 150px;
  /* margin: 130px 165px;*/
}

.product-feat .avatar-box img {
  position: absolute;
  bottom: -100px;
}

.product-feat .details-box {
  background-color: rgba(15, 116, 143, 0.7);
  position: absolute;
  width: 55%;
  height: 340px;
  right: 0;
  padding: 70px;
  top: 15%;
}

.product-feat .details-box h3 {
  text-transform: uppercase;
  padding-bottom: 25px;
}

.product-feat .details-box ul li {
  padding: 7px 2px;
}

/* end product-feat section */
/* start portfolio */
.port {
  padding: 50px 0 0 0;
}

.port .switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.port .switch li {
  padding: 10px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.port .switch li.active {
  background-color: #19c8fa;
  color: #fff;
}

.port .photo-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.port .photo-grid .img-box {
  position: relative;
  width: 25%;
  overflow: hidden;
  cursor: pointer;
}

@media (max-width: 767px) {
  .port .photo-grid .img-box {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .port .photo-grid .img-box {
    width: 50%;
  }
}

.port .photo-grid .img-box:hover .img-caption {
  bottom: 0;
}

.port .photo-grid .img-box:hover img {
  -webkit-transform: rotate(3deg) scale(1.1);
          transform: rotate(3deg) scale(1.1);
}

.port .photo-grid .img-box img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.port .photo-grid .img-box .img-caption {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 75px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #fff;
  text-transform: capitalize;
  font-size: 14px;
  padding: 5px 15px;
}

.port .photo-grid .img-box .img-caption h4 {
  margin-top: 5px;
  margin-bottom: 7px;
  font-weight: 400;
}

.port .photo-grid .img-box .img-caption span {
  color: #19c8fa;
  font-weight: 600;
}

/* End portfolio */
/* start super section */
.super {
  position: relative;
}

.super .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.super video {
  width: 100%;
}

.super .details-box {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(15, 116, 143, 0.7);
  color: #fff;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  width: 100%;
  padding: 75px;
}

.super .details-box h3 {
  margin: 5px 0 30px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.super .details-box h4 {
  margin-bottom: 20px;
}

.super .details-box a {
  color: #fff;
  background-color: #000;
  margin: 10px 0;
  padding: 10px 15px;
  text-transform: capitalize;
}

/* end super section */
/* start about section */
.about {
  padding: 50px 0 0 0;
}

/* end about section */
/* start quote */
.quote {
  position: relative;
  padding: 50px 0 0 0;
  height: 300px;
  background: url("../images/quote.jpg");
  background-size: cover;
}

.quote .overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.quote .text-box {
  color: #fff;
  text-align: center;
  margin: 110px auto;
}

.quote .text-box p {
  font-size: 28px;
  padding-bottom: 20px;
}

@media (max-width: 767px) {
  .quote .text-box p {
    font-size: 18px;
  }
}

.quote .text-box h4 {
  font-size: 18px;
}

@media (max-width: 767px) {
  .quote .text-box h4 {
    font-size: 14px;
  }
}

/* end quote */
/* start Pricing section */
.pricing {
  padding: 50px 0 0 0;
}

.pricing .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(225px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 35px;
}

.pricing .cards .card {
  border-top: 1px solid #19c8fa;
  background-color: #fcfcfc;
  text-align: center;
  height: auto;
}

.pricing .cards .card .card-title {
  margin: 25px;
  text-transform: uppercase;
}

.pricing .cards .card .card-title span {
  font-size: 48px;
  font-weight: 700;
}

.pricing .cards .card .card-title span:before {
  content: "$";
  font-size: 18px;
  position: relative;
  top: -35px;
  margin-right: 5px;
}

.pricing .cards .card .card-title span:after {
  content: "/Mo";
  font-size: 18px;
  position: relative;
  margin-left: 5px;
}

.pricing .cards .card .plan-feat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #19c8fa;
  border-bottom: 1px solid #19c8fa;
  padding: 15px 0;
}

.pricing .cards .card .plan-feat li {
  padding: 15px 10px;
  width: 50%;
}

.pricing .cards .card .plan-feat li:not(:last-of-type) {
  border-bottom: 1px solid #19c8fa;
}

.pricing .cards .card button {
  display: block;
  margin: 30px auto;
}

.pricing .card-footer {
  margin-top: 50px;
}

.pricing .card-footer p {
  text-align: center;
  font-size: 20px;
  margin: auto;
}

.pricing .contact-btn {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #19c8fa;
  color: #fff;
  margin: 30px auto;
  text-align: center;
  display: block;
  width: 140px;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pricing .contact-btn:hover {
  background-color: #17aeda;
}

/* End Pricing section */
/* start cont section */
.cont {
  padding: 50px 0 0 0;
  background: url("../images/subscribe.jpg");
  background-size: cover;
  height: 250px;
  position: relative;
}

.cont .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.cont .text-box {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* end cont section */
/* start contact section */
.contact {
  padding: 50px 0 0 0;
}

/* end contact section */
footer {
  position: relative;
  background: url("../images/subscribe.jpg");
  background-size: cover;
  height: 400px;
  padding: 0;
}

footer .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* scroll to top styling */
.scroll-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 20px;
  height: 20px;
  background-color: #19c8fa;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.scroll-to-top:hover {
  background-color: #086782;
}

.scroll-to-top.show {
  opacity: 1;
}

/* scroll to top styling */
/*# sourceMappingURL=main.css.map */