/* import major sass files */

@import "sass/variables";
@import "sass/mixins";
@import "sass/breakpoints";
@import "sass/buttons";

/* Start Global rules */

/* reusable components */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  border: 1px solid $mainColor;
  background-color: #fff;
  padding: 7px 20px;
  margin-top: 25px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

.margin-50 {
  margin-top: 50px;
}

.margin-100 {
  margin-top: 100px;
}

.img-fluid {
  max-width: 100%;
}
/* end global rules */

/* ===== Manual Responsive ===== */

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* small */
  @media (min-width: 768px) {
    width: 750px;
  }
  /* medium */
  @media (min-width: 992px) {
    width: 970px;
  }
  /* large */
  @media (min-width: 1200px) {
    width: 1170px;
  }
}
/* ===== Manual Responsive ===== */

.special-heading {
  &:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
  }
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -38px;
    background-color: white;
  }
}

.main-heading {
  h3 {
    position: relative;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  p {
    line-height: 1.6;
    width: 50%;
    margin: 5px auto;
    font-size: 14px;
    color: #777;
    line-height: 2;
    text-align: center;
    padding-bottom: 60px;
    @media (max-width: 991px) {
      width: 75%;
    }
  }
}
/* reusable components */

body {
  font-family: "Open Sans", sans-serif;
}

/* start services section */
.services {
  padding: $sectionPadding;
}
/* end services section */

/* start product-feat section */

.product-feat {
  padding: $sectionPadding;
  position: relative;
  background: url("/images/design-features.jpg");
  background-size: cover;
  height: 500px;
  .overlay {
    @include overlay;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
  }
  .avatar-box {
    z-index: 1;
    margin-left: 150px;
    img {
      position: absolute;
      bottom: -100px;
    }
    /* margin: 130px 165px;*/
  }
  .details-box {
    background-color: rgba(15, 116, 143, 0.7);
    position: absolute;
    width: 55%;
    height: 340px;
    right: 0;
    padding: 70px;
    top: 15%;
    h3 {
      text-transform: uppercase;
      padding-bottom: 25px;
    }
    ul li {
      padding: 7px 2px;
    }
  }
}

/* end product-feat section */

/* start portfolio */
.port {
  padding: $sectionPadding;
  .switch {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    li {
      padding: 10px;
      cursor: pointer;
      transition: $mainTransition;
      &.active {
        background-color: $mainColor;
        color: #fff;
      }
    }
  }
  .photo-grid {
    display: flex;
    flex-wrap: wrap;
    .img-box {
      position: relative;
      width: 25%;
      overflow: hidden;
      cursor: pointer;
      @include mobile {
        width: 100%;
      }
      @include mediumScreens {
        width: 50%;
      }
      &:hover .img-caption {
        bottom: 0;
      }
      &:hover img {
        transform: rotate(3deg) scale(1.1);
      }
      img {
        transition: $mainTransition;
      }
      .img-caption {
        position: absolute;
        bottom: -100%;
        left: 0;
        width: 100%;
        height: 75px;
        transition: $mainTransition;
        background-color: #fff;
        text-transform: capitalize;
        font-size: 14px;
        padding: 5px 15px;
        h4 {
          margin-top: 5px;
          margin-bottom: 7px;
          font-weight: 400;
        }
        span {
          color: $mainColor;
          font-weight: 600;
        }
      }
    }
  }
}
/* End portfolio */

/* start super section */
.super {
  position: relative;
  .overlay {
    @include overlay;
    background-color: rgba(0, 0, 0, 0.5);
  }
  video {
    width: 100%;
  }
  .details-box {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(15, 116, 143, 0.7);
    color: #fff;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
    padding: 75px;
    h3 {
      margin: 5px 0 30px;
      text-transform: uppercase;
      letter-spacing: 1.8px;
    }
    h4 {
      margin-bottom: 20px;
    }
    a {
      color: #fff;
      background-color: #000;
      margin: 10px 0;
      padding: 10px 15px;
      text-transform: capitalize;
    }
  }
}

/* end super section */

/* start about section */
.about {
  padding: $sectionPadding;
}

/* end about section */

/* start quote */
.quote {
  position: relative;
  padding: $sectionPadding;
  height: 300px;
  background: url("../images/quote.jpg");
  background-size: cover;
  .overlay {
    background-color: rgba(0, 0, 0, 0.8);
    @include overlay;
  }
  .text-box {
    color: #fff;
    text-align: center;
    margin: 110px auto;
    p {
      font-size: 28px;
      padding-bottom: 20px;
      @include mobile {
        font-size: 18px;
      }
    }
    h4 {
      font-size: 18px;
      @include mobile {
        font-size: 14px;
      }
    }
  }
}
/* end quote */

/* start Pricing section */
.pricing {
  padding: $sectionPadding;
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 35px;
    .card {
      border-top: 1px solid $mainColor;
      background-color: #fcfcfc;
      text-align: center;
      .card-title {
        margin: 25px;
        text-transform: uppercase;

        span {
          font-size: 48px;
          font-weight: 700;
          &:before {
            content: "$";
            font-size: 18px;
            position: relative;
            top: -35px;
            margin-right: 5px;
          }
          &:after {
            content: "/Mo";
            font-size: 18px;
            position: relative;
            margin-left: 5px;
          }
        }
      }
      height: auto;
      .plan-feat {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid $mainColor;
        border-bottom: 1px solid $mainColor;
        padding: 15px 0;
        li {
          padding: 15px 10px;
          width: 50%;
          &:not(:last-of-type) {
            border-bottom: 1px solid $mainColor;
          }
        }
      }
      button {
        display: block;
        margin: 30px auto;
      }
    }
  }
  .card-footer {
    margin-top: 50px;
    p {
      text-align: center;
      font-size: 20px;
      margin: auto;
    }
  }

  .contact-btn {
    font-size: 18px;
    padding: 10px 20px;
    background-color: $mainColor;
    color: #fff;
    margin: 30px auto;
    text-align: center;
    display: block;
    width: 140px;
    text-transform: capitalize;
    transition: $mainTransition;
    &:hover {
      background-color: #17aeda;
    }
  }
}
/* End Pricing section */

/* start cont section */

.cont {
  padding: $sectionPadding;
  background: url("/images/subscribe.jpg");
  background-size: cover;
  height: 250px;
  position: relative;
  .overlay {
    @include overlay;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
  }
  .text-box {
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
/* end cont section */
/* start contact section */

.contact {
  padding: $sectionPadding;
}
/* end contact section */

/* scroll to top styling */
.scroll-to-top {
  width: 40px;
  height: 35px;
  background-color: White;
  position: fixed;
  bottom: 15px;
  right: -50px;
  color: $mainColor;
  font-weight: bold;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  line-height: 1.4px;
  margin: 1px auto;
  cursor: pointer;
  z-index: 999;
  &.show {
    right: 35px;
  }
}
/* scroll to top styling */

footer {
  position: relative;
  background: url("/images/subscribe.jpg");
  background-size: cover;
  height: 400px;
  padding: 0;
  .overlay {
    @include overlay;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
