// import sass files

@use "../components/variables" as *;
@use "../components/mixins" as *;
@use "../components/breakpoints" as *;
@use "../components/buttons" as *;

/* start product-feat section */

.product-feat {
  padding-top: $sectionPadding;
  padding-bottom: $sectionPadding;
  position: relative;
  background: url("../../images/design-features.jpg");
  background-size: cover;
  height: 500px;
  .overlay {
    @include overlay;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .avatar-box {
    z-index: 1;
    margin-left: 150px;
    @include mobile {
      margin-left: 0;
    }
    img {
      position: absolute;
      bottom: -100px;
    }
  }
  .details-box {
    background-color: rgba(15, 116, 143, 0.7);
    position: absolute;
    width: 55%;
    height: 340px;
    right: 0;
    color: #fff;
    padding: 70px;
    top: 15%;
    h3 {
      text-transform: uppercase;
      padding-bottom: 25px;
    }
    ul li {
      padding: 7px 2px;
    }
  }
}

/* end product-feat section */
